/* For Mobile & under 768px width: */
body {
  background: #f8f5f5;
  color: rgb(0, 0, 0);
  margin: 0;
}

.content {
  margin: 0 auto;
  width: 95%;
}

.SavedAdsContainer {
  visibility: hidden;
}

.LatestAdsContainer {
  padding: 0px;
}

@media only screen and (max-width: 1135px) {
  /* For desktop & bigger screens: */
  .content {
    margin: 0 auto;
    width: 95%;
    padding-top: 2rem;
  }

  .SavedAdsContainer {
    visibility: hidden;
    display: none;
  }
  .LatestAdsContainer {
      width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  /* For desktop & bigger screens: */
  .content {
    margin: 0 auto;
    width: 69%;
    padding-top: 2rem;
  }

  .SavedAdsContainer {
    visibility: visible;
    padding: 0px;
    min-height: 50rem;
    text-align: center;
    padding-top: 1rem;
    background-color: white;
    border-top-left-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-right: 0px;
    border-color: rgba(39, 38, 53, 0.1);
  }
}
