body {
    background-color: rgb(248, 245, 245);
    margin: 0;
    height: 100%;
    color: white;
}

.wrapper {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content {
    padding-top: 3rem;
}